.logo {
    width: 120px;
    margin: auto;
    margin-top: 5px;
    padding: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.95);
}

body{
    background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    flex-direction: column;
    margin: auto;
  }
p > img{
width: 200px;
margin: auto;
}
p > a{
    margin-left: 5px;
}
#footer{
  margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.95);
    color:rgb(0, 102, 255);

}
#navbar{
    height: fit-content;
    width: 4000px
}
