#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.logo {
    width: 150px;
    margin-top: 5px;

}



body {
    background-image: url("https://img.freepik.com/foto-gratis/formas-geometricas-abstractas-fondo-o-textura_1194-301824.jpg?w=1060&t=st=1679263312~exp=1679263912~hmac=957f411a7b1cded1acbf5f7a131b0b5f41074e565a2a750d0daf60e6649f7bc7");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    flex-direction: column;
    margin: auto;
}

p>img {
    width: 200px;
    margin: auto;
}

p>a {
    margin-left: 5px;
}

#footer {
   
    background-color: rgba(0, 0, 0, 0.95);
    color:#F5B80B;

}

#navbar {
    height: fit-content;

}

.dropdown-menu.show{
    background-color: black;
}

.dropdown-menu li {
    background-color: black;
    color: #F5B80B;
    width: 300px;
    margin-left: 5px;
    position: relative;
    padding-right: 10px;
    /* agregar un espacio para el icono */
}

.dropdown-menu li i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
    float: right;
    /* agregar float a la derecha */
}